**

!gradlew
!settings.gradle
!build.gradle
!gradle.properties
!gradle/
!gradle/**
!COMMONDomain/
!COMMONDomain/**
!USERService/
!USERService/**
!BILLINGService/
!BILLINGService/**
!ORDERService/
!ORDERService/**
!NOTIFICATIONService/
!NOTIFICATIONService/**
!.dockerignore

**/build
**/.gradle
**/logs
