<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="applicationName" source="spring.application.name" defaultValue="unknown-service"/>
    <springProperty scope="context" name="activeProfile" source="spring.profiles.active" defaultValue="default"/>

    <springProfile name="local, dev, default">

        <appender name="CONSOLE_DEV" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) [%15.15t] %cyan(%-40.40logger{39}) [trace=%X{traceId:-},span=%X{spanId:-}] - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE_DEV"/>
        </root>

        <logger name="ru.otus.hw" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE_DEV"/>
        </logger>

        <logger name="org.springframework" level="WARN"/>
        <logger name="org.hibernate" level="WARN"/>

    </springProfile>

    <springProfile name="prod, k8s, docker">

        <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">

                <customFields>{"app":"${applicationName}","env":"${activeProfile}"}</customFields>

                <includeMdcKeyName>traceId</includeMdcKeyName>
                <includeMdcKeyName>spanId</includeMdcKeyName>
                <mdcKeyFieldName>traceId=trace_id</mdcKeyFieldName>
                <mdcKeyFieldName>spanId=span_id</mdcKeyFieldName>

                <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                    <maxDepthPerThrowable>30</maxDepthPerThrowable>
                    <maxLength>4096</maxLength>
                    <rootCauseFirst>true</rootCauseFirst>
                    <exclude>sun\.reflect\..*</exclude>
                    <exclude>java\.lang\.reflect\..*</exclude>
                    <exclude>org\.springframework\.cglib\..*</exclude>
                </throwableConverter>

                <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSS'Z'</timestampPattern>
                <includeCallerData>false</includeCallerData>
                <shortenedLoggerNameLength>36</shortenedLoggerNameLength>

            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE_JSON"/>
        </root>

        <logger name="ru.otus.hw" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE_JSON"/>
        </logger>

        <logger name="org.springframework" level="WARN"/>
        <logger name="org.hibernate" level="WARN"/>
        <logger name="org.flywaydb" level="INFO"/>
        <logger name="io.github.resilience4j" level="INFO"/>

    </springProfile>

</configuration>